includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	bootstrapFiles:
		- build-cs/phpstan-bootstrap.php
	ignoreErrors:
		- identifier: missingType.generics
		- identifier: requireOnce.fileNotFound
	level: 6
	paths:
		- src/
	treatPhpDocTypesAsCertain: false
