<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<env name="WORDPRESS_TABLE_PREFIX" value="wptests_" />
	</php>
	<testsuites>
		<testsuite name="default">
			<directory suffix=".php">./tests/phpunit/tests</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>ms-required</group>
		</exclude>
	</groups>
	<coverage includeUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
</phpunit>
